<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.css @ categories='Footer-Component'}"/>
<div class="footer">
    <p class="footer-text-left">
        <a href="${properties.resourcesUrl}" target="_blank">${properties.resourcePage}</a>
        <a href="${properties.aboutURL}"  target="_blank">${properties.aboutTitle}</a>
        <a href="${properties.helpURL}" target="_blank">${properties.help}</a>
    </p>
    <div class="footer-content-right">
        <a href="${properties.facebookPath}" target="_blank"><img src="${properties.facebookImg}" class="icon-style" alt="facebook"></a>
        <a href="https://www.instagram.com"  target="_blank"><img src="/content/dam/AEMTutorial/instagram_icon.jpg" class="icon-style" alt="Instagram"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="/content/dam/AEMTutorial/twitter_icon.jpg" class="icon-style" alt="twitter"></a>
    </div>
</div>