<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.css @ categories='Footer-Component'}"/>
<div class="footer">
    <p class="footer-text-left">
        <a href="/content/AEMTutorial/us/en/resources.html" target="_blank">${properties.resourcePage}</a>
        <a href="/content/AEMTutorial/us/en/about-us.html"  target="_blank">${properties.aboutTitle}</a>
        <a href="/content/AEMTutorial/us/en/help.html" target="_blank">${properties.help}</a>
    </p>
    <div class="footer-content-right">
        <a href="https://www.facebook.com" target="_blank"><img src="/content/dam/AEMTutorial/Facebook_icon.jpg" class="icon-style" alt="facebook"></a>
        <a href="https://www.instagram.com"  target="_blank"><img src="/content/dam/AEMTutorial/instagram_icon.jpg" class="icon-style" alt="Instagram"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="/content/dam/AEMTutorial/twitter_icon.jpg" class="icon-style" alt="twitter"></a>
    </div>
</div>