
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.css @ categories='Create-Account-Form-Component'}"/>

<form class="modal-content">
  <div class="container">
       <h2>Create Account Form</h2>
       <span class="paragraph">Please Create an account</span>
       <hr>
       <label for="email"><b>Email</b></label>
       <input type="text" name="email" id="email" required>
       <label for="password"><b>Password</b></label>
       <input type="password" name="password" id="password" required">
       <label for="confirmpassword"><b>Confirm Password</b></label>
       <input type="password" name="confirmpassword" id="confirmpassword" required>
       <button type="submit" class="signupbtn">Submit</button>
  </div>
</form>