<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.css @ categories='Header-Component'}"/>


<div class="navbar">
    <img src="/content/dam/AEMTutorial/LOGO.jpg" alt="Header Image Logo" class="logo_image">
    <a href="${properties.homePageUrl}">${properties.homePage}</a>
    <div class="subnav">
     	<button class="subnavbtn">${properties.aboutPage}</button>
        <div class="subnav-content">
        	<a href="#">Company</a>
			<a href="#">Our Team</a>
			<a href="#">References</a>
			<a href="#">Courses</a>
        </div>
    </div>
    <div class="subnav-right">
    	<a href="${properties.signupUrl}">${properties.signupPage}</a>
        <a href="${properties.loginPagePath}">${properties.logintitle}</a>
        <a href="${properties.myaccountPagePath}">${properties.myaccountTitle}</a>
    </div>
</div>
