<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.css @ categories='Header-Component'}"/>

<div class="header">
    <a class="logo">Website Logo</a>
    <div class="header-right">
        <a href="${properties.homePageUrl}" target="_blank" class="active">${properties.homePage}</a>
        <a href="${properties.aboutUsUrl}" target="_blank">${properties.aboutPage}</a>
        <a href="${properties.contactUsUrl}" target="_blank">${properties.contactPage}</a>
   </div>
</div>