<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.css @ categories='Header-Component'}"/>

<sly data-sly-use.headerValue="com.adobe.aem.tutorial.core.models.HeaderComponentModel">
<div class="navbar">
    <img src="${headerValue.logoImage}" alt="Header Image Logo" class="logo_image">
    <a href="${headerValue.homePageUrl}">${headerValue.homePage}</a>
    <div class="subnav">
     	<button class="subnavbtn">${headerValue.aboutPage}</button>
        <div class="subnav-content">
            <div data-sly-list.subNavValue="${headerValue.aboutUsSubNavigation}">
                <a href="${subNavValue.subNavUrl}">${subNavValue.subNavTitle}</a>
            </div>
        </div>
    </div>
    <div class="subnav-right">
    	<a href="${headerValue.signupUrl}">${headerValue.signupPage}</a>
        <a href="${headerValue.loginPagePath}">${headerValue.logintitle}</a>
        <a href="${headerValue.myaccountPagePath}">${headerValue.myaccountTitle}</a>
    </div>
</div>
</sly>